
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">



    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <style>
    .flip-container {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .flip-container {
        font-size: 1.5rem;
      }
    }
    </style>

    <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
  <link rel="icon" href="https://pbs.twimg.com/profile_images/596783550487076864/0BC3YDhV_400x400.png">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">


  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Life</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <% if(currentUser){ %>
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="/tableTop/newTableTop">New Tabletop Simulator</a></li>
                          <li><a class="dropdown-item" href="/tableTop/seed/newProducts">Seed Tabletop Simulator</a></li>
                        </ul>
                      </li>
                    </ul>
                    <form action="/sessions?_method=DELETE" method="post">
                      <input class="logOut" type="submit" name="" value="Log Out">
                    </form>
                <%}else{%>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/new">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sessions/new">LogIn</a>
                  </li>
                <%}%>
            </ul>
            <form class="d-flex">
              <% if(currentUser){%>
              <input class="form-control me-2" type="search" placeholder="Welcome <%= currentUser.username%>" aria-label="Search">
              <%}else{%>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <%}%>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <body>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="flip-container">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://pbs.twimg.com/profile_images/596783550487076864/0BC3YDhV_400x400.png">
              </div>
              <div class="flip-box-back" id="tablesim">
                <img src="https://pbs.twimg.com/profile_images/596783550487076864/0BC3YDhV_400x400.png">
                <p><a class="btn btn-secondary" href="/products/" role="button">Home &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(let i = 0; i < tableTop.length; i++){%>
        <div class="col">
          <div class="index-image-div">
            <img class="bd-placeholder-img card-img-top" src="<%=tableTop[i].img%>"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><text class="nameText" x="50%" y="50%" dy=".3em"><%=tableTop[i].name%></text></img>

            <div class="card-body">
              <p class="card-text">Please feel free to edit, create, seed, and have fun with my webpage. I just ask that you keep the content PG and on topic. Thank you.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="a-button" href="/tableTop/<%=tableTop[i].id%>/showTableTop/">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="a-button" href="/tableTop/<%=tableTop[i].id%>/editTableTop/">Edit</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>


</main>

<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2020 Life, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  </body>
</html>
